Source: summarize-ssh-keys
Maintainer: Neil Mayhew <neil_mayhew@users.sourceforge.net>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.8),
 cdbs,
 ghc (>= 7.4),
 libghc-hunit-dev (>= 1.2),
 libghc-hunit-dev (<< 1.4),
 libghc-parsec3-dev (>= 2.0),
 libghc-parsec3-dev (<< 4.0),
Standards-Version: 3.9.7
Homepage: https://github.com/neilmayhew/SummarizeSSHKeys

Package: summarize-ssh-keys
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: A utility to produce readable summaries of SSH authorized_keys files
