#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	-cabal sandbox init
	cabal configure --global --prefix=/usr

override_dh_auto_build:
	cabal build

PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

override_dh_auto_install:
	cabal copy --destdir=$(TMP)

override_dh_auto_clean:
	cabal clean
